<div class="row">
    <div class="col-md-12">
        <input type="radio" id="trackName" name="trackName" value="beethoven.mp3" /> Beethoven <br />
        <input type="radio" id="trackName" name="trackName" value="Mozart.mp3" checked /> Mozart<br />
        <input type="radio" id="trackName" name="trackName" value="Vivaldi.mp3" /> Vivaldi<br />
    </div>
</div>
<div class="row vi">
    <div class="col-md-8">
        <audio controls id="audio" style="width:88%">
            <source id="mp3_src" src="/vinylizer/Home/GetAudioFileForPlay?fileName=Mozart.mp3" type="audio/mp3">
        </audio>
    </div>
</div>
<div class="row vi sliders">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    Dust 1:
                </div>
                <div class="col-md-9">
                    <input id="ef1" class="effect_slider" type="text" /><span><span data-value-placeholder="ef1">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Dust 2:
                </div>
                <div class="col-md-9">
                    <input id="ef2" class="effect_slider" type="text" /><span><span data-value-placeholder="ef2">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Crackle 1:
                </div>
                <div class="col-md-9">
                    <input id="ef3" class="effect_slider" type="text" /><span><span data-value-placeholder="ef3">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Crackle 2:
                </div>
                <div class="col-md-9">
                    <input id="ef4" class="effect_slider" type="text" /><span><span data-value-placeholder="ef4">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Crackle 3:
                </div>
                <div class="col-md-9">
                    <input id="ef5" class="effect_slider" type="text" /><span><span data-value-placeholder="ef5">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Noise 1:
                </div>
                <div class="col-md-9">
                    <input id="ef6" class="effect_slider" type="text" /><span><span data-value-placeholder="ef6">0</span>%</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Noise 2:
                </div>
                <div class="col-md-9">
                    <input id="ef7" class="effect_slider" type="text" /><span><span data-value-placeholder="ef7">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Scratches 1:
                </div>
                <div class="col-md-9">
                    <input id="ef8" class="effect_slider" type="text" /><span><span data-value-placeholder="ef8">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Scratches 2:
                </div>
                <div class="col-md-9">
                    <input id="ef9" class="effect_slider" type="text" /><span><span data-value-placeholder="ef9">0</span>%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-info btn-block" name="Download" id="Download" style=" width 89%;" value="Download" onClick="downloadSound()" />
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <audio loop id="filter1" autoplay controls data-player="ef1">
            <source id="mp3_filter1_src" src="/vinylizer/Home/GetFilterForPlay?filterId=1" type="audio/mp3">
        </audio>
        <audio loop id="filter2" autoplay controls data-player="ef2">
            <source id="mp3_filter2_src" src="/vinylizer/Home/GetFilterForPlay?filterId=2" type="audio/mp3">
        </audio>
        <audio loop id="filter3" autoplay controls data-player="ef3">
            <source id="mp3_filter3_src" src="/vinylizer/Home/GetFilterForPlay?filterId=3" type="audio/mp3">
        </audio>
        <audio loop id="filter4" autoplay controls data-player="ef4">
            <source id="mp3_filter4_src" src="/vinylizer/Home/GetFilterForPlay?filterId=4" type="audio/mp3">
        </audio>
        <audio loop id="filter5" autoplay controls data-player="ef5">
            <source id="mp3_filter5_src" src="/vinylizer/Home/GetFilterForPlay?filterId=5" type="audio/mp3">
        </audio>
        <audio loop id="filter6" autoplay controls data-player="ef6">
            <source id="mp3_filter6_src" src="/vinylizer/Home/GetFilterForPlay?filterId=6" type="audio/mp3">
        </audio>
        <audio loop id="filter6" autoplay controls data-player="ef7">
            <source id="mp3_filter6_src" src="/vinylizer/Home/GetFilterForPlay?filterId=7" type="audio/mp3">
        </audio>
        <audio loop id="filter6" autoplay controls data-player="ef8">
            <source id="mp3_filter6_src" src="/vinylizer/Home/GetFilterForPlay?filterId=8" type="audio/mp3">
        </audio>
        <audio loop id="filter6" autoplay controls data-player="ef9">
            <source id="mp3_filter6_src" src="/vinylizer/Home/GetFilterForPlay?filterId=9" type="audio/mp3">
        </audio>
    </div>
</div>
