@{
    string file_name = "";
    if (Request.Cookies["VinylizerFileName"] != null)
    {
        file_name = (Request.Cookies["VinylizerFileName"]).Value;
    }
}

@*@using (Html.BeginForm("UploadAudioFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" class="form-control"/>
        <input type="submit" class="btn btn-default" name="Submit" id="Submit" value="Upload" />
    }*@

<div class="row">
    <div>

    </div>
    <div class="col-md-12">
        <audio controls id="audio">
            <source id="mp3_src" src="/Home/GetAudioFileForPlay?fileName=Mozart.mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="col-md-12">
        <input type="button" class="btn btn-info" name="Download" id="Download" value="Download" onClick="download('@file_name')" />
    </div>
</div>
<div class="row vi">
    <div class="col-md-12">
        <input id="ef1" class="effect_slider" type="text"/>
        <input id="ef2" class="effect_slider" type="text"/>
        <input id="ef3" class="effect_slider" type="text"/>
        <input id="ef4" class="effect_slider" type="text"/>
        <input id="ef5" class="effect_slider" type="text"/>
        <input id="ef6" class="effect_slider" type="text"/>
    </div>
    <div style="display:none">
        <audio loop id="filter1" data-player="ef1">
            <source id="mp3_filter1_src" src="/Home/GetFilterForPlay?filterId=1" type="audio/mp3">
        </audio>
        <audio loop id="filter2" data-player="ef2">
            <source id="mp3_filter2_src" src="/Home/GetFilterForPlay?filterId=2" type="audio/mp3">
        </audio>
        <audio loop id="filter3" data-player="ef3">
            <source id="mp3_filter3_src" src="/Home/GetFilterForPlay?filterId=3" type="audio/mp3">
        </audio>
        <audio loop id="filter4" data-player="ef4">
            <source id="mp3_filter4_src" src="/Home/GetFilterForPlay?filterId=4" type="audio/mp3">
        </audio>
        <audio loop id="filter5" data-player="ef5">
            <source id="mp3_filter5_src" src="/Home/GetFilterForPlay?filterId=5" type="audio/mp3">
        </audio>
        <audio loop id="filter6" data-player="ef6">
            <source id="mp3_filter6_src" src="/Home/GetFilterForPlay?filterId=6" type="audio/mp3">
        </audio>
    </div>
</div>
